#header-title {
    text-align:center;
    }
    
.sub-title {
    position: relative;
    left: 50px;

}
div.relative1 {
    position: relative;
    left: 70px;

}
.sub-title-two {
    position: relative;
    left: -20px;
}